*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
img{
    width: 100%;
}
.height{
    height: 100%;
}
.instructions {
    position: absolute;
    width: 25%;
    height: auto;
    top: 0;
    right: 1%;
    background-color: #009cf753;
    border-radius: 10%;
    color: white;
}
.bg{
    width: 100%;
    height:100vh;
    background-image: url("./assets/image.png");
    background-size:100% 100%;
}
.instructions p{
    padding: 10px;
    font-size: 100%;
}

.grounds{
    height: 300px;
    width: 100%;
    position: relative;
}
#dino{
    position: absolute;
    height: 105px;
    left: 10px;
    top: 185px;
}
#block{
    width: 10%;
    position: absolute;
    height: 110px;
    bottom: 0px;
    right: 10px; 
    animation: move 2s infinite linear;
}
#ground{
    position: absolute;
    bottom: -150px;
    width: 100%;
}
.animate{
    animation: jump 1.9s linear;
}
#ship{
    position: absolute;
    right: 20px;
    display: none;
    width: 40%;
    animation:moveup 3s 1 linear ;
    bottom: 2%;
}
#scores{
    position: absolute;
    top:10%;
    right: 2%;
    font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke;
}
h1{
    color: white;
    font-weight: 800;
    text-align: center;
}
#green{
    background-color: rgba(22, 210, 107, 0.614);
    box-shadow: rgb(55, 255, 0) 0px 1px 50px 2px;
    margin-top: 60px;
}
#dinoship{
    position: absolute;
    width: 200px;
    height: auto;
}
.villain{
    position: absolute;
    width: 200px;
    height: auto;
}
.ship{
    margin: 500px;
    margin-bottom: 600px;
}

.inputbox{
    background-color: rgba(255, 255, 255, 0.252);
    width: 250px;
    height: 130px;
    padding: 20px;
    border-radius: 15%;
    position:absolute;
    bottom: 25%;
    left: 40%;
    font-weight: 700;
    box-shadow: rgb(255, 255, 255) 0px 1px 50px 2px;
    text-indent: 10px;
}
input{
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    text-indent: 20px;
}
input::placeholder{
    text-align: center;
    color: black;
}

#space{
    width: 100%;
    height: 95vh;
    cursor:url(https://cdn.custom-cursor.com/db/16928/32/cartoons-mao-mao-badgerclops-robo-arm-cursor.png) , auto;
}
#timer{
    position: absolute;
    top: 3%;
    right:5%;
    color: wheat;
    font-weight: 900;
}
button{
    width: 270px;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(220, 20, 60, 0.399);
    color: white;
    font-weight: 800;
    position:absolute;
    bottom: 10%;
    left: 40%;
    box-shadow: rgb(255, 0, 0) 0px 1px 50px 2px;
    font-size: large;
}
button:hover{
    box-shadow: rgb(255, 0, 0) 0px 0px 50px -12px;
    font-size: x-large;
}
#title{
    position:absolute;
    width: 25%;
    height: auto;
    bottom: 70%;
    left: 35%;
}
#speaker{
    color: black;
    width: 10%;
    border: none;
    left:3%;
    top: 3%;
    background-color: rgba(255, 255, 0, 0.532);
    box-shadow: rgb(255, 213, 0) 0px 1px 50px 2px;
}
.result{
    position: relative;
    bottom: 5%;
}
.message{
    font-size: xx-large;
    color: white;
    font-weight: 900;
    text-shadow: 6px 7px 7px rgba(0, 0, 0, 1);
}
@keyframes jump{
    0%{
        top: 0px;
    }
    25%{
        top:25px;
        left:100px;
    }
    75%{
        top:50px;
        left: 230px;
    }
    100%{
        top:185px;
        left:10px;
    }
}
@keyframes move{
    0%{
        left: 1500px;
    }
    100%{
        left:-20px;
    }
}
@keyframes moveup {
    0%{
        transform: translateX(5px);
        }
    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(5px);
    }
}
@keyframes enemey1 {
    0%{
        top:0px;
        left:0px ;
    }
    50%{
        top: 100px;
        left: 100px;
    }
    75%{
        top: 270px;
        left: 365px;
    }
    100%{
        top: 692px;
        left: 600px;
    }
}
@keyframes enemey2 {
    0%{
        top:0px;
        right:0px ;
    }
    50%{
        top: 100px;
        right: 100px;
    }
    75%{
        top: 270px;
        right: 150px;
    }
    100%{
        top: 682px;
        right: 850px;
    } 
}
@keyframes enemey3 {
    0%{
        top:0px;
        left:0px ;
    }
    50%{
        top: 100px;
        left: 100px;
    }
    75%{
        top: 270px;
        left: 365px;
    }
    100%{
        top: 692px;
        left: 650px;
    }
}
@keyframes enemey4 {
    0%{
        top:0px;
        right:0px ;
    }
    50%{
        top: 100px;
        right: 100px;
    }
    75%{
        top: 270px;
        right: 150px;
    }
    100%{
        top: 682px;
        right: 850px;
    } 
}
@media all and (max-width:600px){
    body{
        width: 320px;
        height: 720px;
    }
    .instructions{
        display: none;
    }
    .inputbox{
        width: 220px;
        left: 10%;
        bottom: 20%;
    }
    button{
        width:150px ;
        bottom: 5%;
        left: 33%;
    }
    #speaker{
        width: 100px;
        height: 50px;
    }
    #title{
        width: 70%;
        left: 25%;
    }
   

}
